$backgroundColor: #2a2c31;
$textColor: #fffedf;
$navbarLinkColor: #fffedf;
$volumebarColor: #DFBA69;
$volumebarBorderColor: lighten(#3e4147, 40%);
$dotfmColor: #DFBA69; 
$startPlayingMessageColor:#EFC7C5;
$notecolor: #fffedf;
$uploadedByColor: black;
$dragDropFilesColor: black;
$byfromcolor: #3E4147;
$sectionHeadingColor: #3E4147; 
$sectionHeadingShadow: lighten(#3E4147,50%);
$sectionHeadingBorder: black;

@mixin seriffont{
  font-family: Georgia, Palatino, 'Palatino Linotype', serif;
}

@mixin rounded($radius){
  $radius: 10px;
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

a:link, a:visited, a:active{
  color:#DFBA69;
  text-decoration:none;
}

a:hover{
  color:#DFBA69;
  text-decoration:underline;
}


body{
  @include seriffont;
  background-color: $backgroundColor;
  color: $textColor;
}


#logo{
  text-align:center;
  padding-bottom:40px;
}

#logout{
  font-size:.8em;
  float:right;
}

#profileimg{
  padding-right:24px;
}

#bodywrapper{
  clear:both;
  text-align:center;
  width:100%;

  #leftside{
    width:50%;
    float:left;


  }

  #rightside{
    text-align:left;
    padding-left:30px;
    width:40%;
    float:left;
  }
}

.containerheading{
  font-size:1.5em;
  color:white;
  text-shadow: 1px 1px darken(white, 70%);
}

.userinfo{
  @include rounded(10px);
  width:300px;
  right:0px;
  float:right;
  background-color: lighten($backgroundColor, 10%);
  padding:10px;
  margin-bottom:20px;
}

#footer{
padding-top:30px;
  clear:both;
  padding-top:70px;
  text-align:center;
  font-size:13px;
}

.clearer{
  clear:both;
}

#roomcreatewrapper{
  left:0px;
}

.listenercount{
  font-size:.9em;
  color: darken(white, 20%);
}

.roomname{
  width:300px;
  margin-top:18px;
  margin-bottom:18px;
  border-bottom:1px dotted darken(white, 50%);
}

.recentnowplaying{
  padding-top:8px;
  .artist, .title{
    font-size:.9em;
  }
  .meta{
    font-style:italic;
    font-size:.8em;
    color: darken(white, 20%);
  }
}
