$backgroundColor: #2a2c31;
$textColor: #fffedf;
$navbarLinkColor: #fffedf;
$volumebarColor: #DFBA69;
$volumebarBorderColor: lighten(#3e4147, 40%);
$dotfmColor: #DFBA69; 
$startPlayingMessageColor:#EFC7C5;
$notecolor: #fffedf;
$uploadedByColor: black;
$dragDropFilesColor: black;
$byfromcolor: #3E4147;
$sectionHeadingColor: #3E4147; 
$sectionHeadingShadow: lighten(#3E4147,50%);
$sectionHeadingBorder: black;

@mixin seriffont{
  font-family: Georgia, Palatino, 'Palatino Linotype', serif;
}


@mixin sansseriffont{
  font-family: Helvetica, sansserif;
}

@mixin rounded($radius){
  $radius: 10px;
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

a:link, a:visited, a:active{
  color:#DFBA69;
  text-decoration:none;
}

a:hover{
  color:#DFBA69;
  text-decoration:underline;
}


body{
  @include seriffont;
  background-color: $backgroundColor;
  color: $textColor;
}


#logo{
  text-align:left;
  padding-bottom:5px;
  padding-top:40px;
  padding-left:90px;
}

#logout{
  font-size:.9em;
  margin-left:50px;
}

#profileimg{
  padding-right:10px;
}

#bodywrapper{
  clear:both;
  text-align:center;
  width:100%;

#leftside{
  font-family:Helvetica; 
  font-size:12px;
}

#rightside{
    width:60%;
    margin-left: auto;
    padding-top:30px;
 }
}

.containerheading{
  font-size:1.7em;
  text-align:center;
  color:white;
  padding-bottom:5px;
  text-shadow: 1px 1px darken(white, 70%);
}

#userinfo{
  @include seriffont;
  width:200px;
  padding-right:90px;
  margin-bottom:10px;
}

#footer{
  @include sansseriffont;
  clear:both;
  text-align:center;
  font-size:13px;
  padding-top:40px;
}

.clearer{
  clear:both;
}

#roomcreatewrapper{
  @include rounded(10px);
  width:275px;
  background-color: lighten($backgroundColor, 10%);
  padding:20px;
  
}

.listenercount{
  font-size:.9em;
  color: darken(white, 20%);
}

.roomname{
  width:300px;
  margin-top:18px;
  margin-bottom:18px;
  border-bottom:1px dotted darken(white, 50%);
}

.recentnowplaying{
  padding-top:8px;
  .artist, .title{
    font-size:.9em;
  }
  .meta{
    font-style:italic;
    font-size:.8em;
    color: darken(white, 20%);
  }
}
