$backgroundColor: #2a2c31;
$textColor: #fffedf;
$navbarLinkColor: #fffedf;
$volumebarColor: #DFBA69;
$volumebarBorderColor: lighten(#3e4147, 40%);
$dotfmColor: #DFBA69; 
$startPlayingMessageColor:#EFC7C5;
$notecolor: #fffedf;
$uploadedByColor: black;
$dragDropFilesColor: black;
$byfromcolor: #3E4147;
$sectionHeadingColor: #3E4147; 
$sectionHeadingShadow: lighten(#3E4147,50%);
$sectionHeadingBorder: black;

body{
  background-color: $backgroundColor;
  color:$textColor;
  font-family:Kreon;
}

.dotfm{
  color:$dotfmColor;
}

#roomform{
  padding-top:50px;
  width:600px;
  margin-left:auto;
  margin-right:auto;
  font-size:30px;
}

#roomname{
  font-size:30px;
}

#go{
  margin-top:25px;
  font-size:30px;
}
