body {
  font-family: Georgia, Palatino, 'Palatino Linotype', serif;
  background-color: #2a2c31;
  color: #fffedf; }

#bodywrapper {
  text-align: center; }

#logo {
  text-align: left;
  padding-bottom: 70px;
  padding-left: 100px;
  padding-top: 30px; }

a.facebookbutton {
  background: url(/static/signfacebook_sprite.png) no-repeat 0 0;
  width: 151px;
  height: 22px;
  display: inline-block;
  text-indent: -9999px; }

a.facebookbutton:active {
  background-position: 0 -22px;
  outline: none; }

a.twitterbutton {
  background: url(/static/signtwitter_sprite.png) no-repeat 0 0;
  width: 151px;
  height: 22px;
  display: inline-block;
  text-indent: -9999px; }

a.twitterbutton:active {
  background-position: 0 -22px;
  outline: none; }

#loginlinks {
  line-height: 24px; }
  #loginlinks img {
    vertical-align: middle;
    border: none; }

.or {
  font-style: italic;
  color: gray;
  padding: 10px; }

#greeting {
  padding: 24px;
  font-size: 30px;
  color: #DFBA69; }

.divider {
  text-align: center;
  border-bottom: 1px dotted gray;
  width: 500px;
  margin-left: auto;
  margin-right: auto; }

.meta {
  font-style: italic;
  color: gray;
  font-size: .8em; }

#nowplaying, #recentsongs {
  width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.nowplaying_art {
  float: left;
  padding-right: 10px;
  padding-left: 90px; }

.artspacer {
  width: 64px;
  height: 64px;
  float: left; }

.nowplaying_info {
  text-align: left; }

.npheading {
  padding: 20px;
  font-style: italic;
  color: #cccccc; }

.np_item {
  margin-left: auto;
  margin-right: auto; }
