$headerHeight: 50px;
$leftColWidth: 340px;
$volumebarColor: black;
$leftColPadding: 10px;
$centerColLeftPad: 20px;
$centerColWidth: 740px;
$playingThumbnailWidth: 128px;
$volumebarBorderColor: lighten(#3e4147, 40%);
$headerColor: #2A2C31;

@mixin seriffont{
  font-family: Georgia, Palatino, 'Palatino Linotype', serif;
}

@mixin sansseriffont{
  font-family: Helvetica, Arial, sans-serif;
}

@mixin boxshadow($a, $b, $c, $d, $color) {
  -webkit-box-shadow:$a $b $c $d $color;
  -moz-box-shadow:$a $b $c $d $color; 
  box-shadow:$a $b $c $d $color;  
}

@mixin rounded($radius: 10px) {
  border--radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin gradient($from, $to) {
  background: $from; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from($from), to($to)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  $from,  $to); /* for firefox 3.6+ */ 
} 

.dragdropcopy{
  font-size:.8em;
  text-transform:none;
  letter-spacing:1px;
  padding-left: 10px;
}

#header{ height:$headerHeight; background-color: $headerColor;  z-index:1000; }
#main{ margin-top:0px;}
.headerlink{
  @include sansseriffont;
  margin-top:10px;
  color:#FFFEDF;
  font-size:12px;
  margin-left:25px;
  margin-right:25px;
}
#linkwrapper{
  padding-top:25px;
}

#logo{
  float:left;
  padding-left:10px;
  padding-right:40px;
}

.headerlink:hover{
  color: #FFFEDF;
  text-decoration: none;
}
.headerlink:link{
  color: #FFFEDF;
  text-decoration: none;
}
.headerlink:visited{
  color: #FFFEDF;
  text-decoration: none;
}
.headerlink:active{
  color: #FFFEDF;
  text-decoration: none;
}


/* Left Column Shit */

#leftside{
  @include boxshadow(5px, 0px, 5px, -3px, #bbb);
  top:$headerHeight;
  padding-left:$leftColPadding;
  width:$leftColWidth;
  background-color:#fff;
}

.scinfo{
  font-size:.6em;
}

#favorites{

  .meta{
    font-style:italic;
    color:#888;
    font-size:.75em;
    padding-right:4px;
  }
  #nofaves{
    display:none;
    font-size:12px;
    line-height:24px;
    text-align:center;
    padding: 30px 80px 50px;
  }
  #favesheader{
    @include seriffont;
    font-size:1.2em;
    text-align:center;
    font-weight:bold;
    padding:5px;
  }
  #favepages{
    margin-left:20px;
    margin-bottom:15px;
    text-align:center;
  }
  #curpage{
    cursor:default;
    font-weight:bold;
    border:1px solid #ccc;
  }
  .nolink{
    cursor:default;
  }
  .favepagelink{
    @include seriffont;
    list-style:none;
    cursor:pointer;
    display:inline;
    margin-right:5px;
    padding-top:3px;
    padding-bottom:4px;
    padding-left:5px;
    padding-right:5px;
  }


  .favwrapper{
    @include seriffont;
    position:relative;
    clear:both;
    border-bottom:1px solid #ccc;
    border-right:1px solid #ccc;
    .heartbox{
      margin-left:5px;
      margin-top:10px;
      float:left;
    }
  }
  .first{
    border-top:1px solid #ccc;
  }
  .last{
  }
  .odd{
    background-color:#eee;
  }

  .favorite_entry{

    width:300px;
    padding-top: 7px;
    padding-bottom: 7px;
    float:left;
    position:relative;
    padding-left:10px;
    .fav_line{
    }

    .title, .artist, .by, .album, .upby, .uploader, .from{
      margin-right:4px;
    }
    .title, .artist{
      font-size:.9em;
    }
  }
}
#currentfile_opts{
  float:right;

  .optcontrol{
    width:24px;
    margin-left:6px;
    margin-right:6px;
    float:left;
  }
}

#loading{
  @include seriffont;
  text-align:center;
  width:$leftColWidth - $playingThumbnailWidth;
  display:none;
}

#currentfile{
  @include seriffont;
  font-size:20px;
  line-height:18px;
  padding-top:15px;
  padding-bottom:10px;

  #nowPlayingInfo{
    width:$leftColWidth - $playingThumbnailWidth;
  }

  .np_uploaderinfo{ font-size:.6em; }

  .meta{
    font-style:italic;
    color:#888;
    font-size:.75em;
  }
  #albumartcol{
    float:right;
    top: $headerHeight + 5px;
    width:$playingThumbnailWidth;
  }

  .artistinfo, .title, .albuminfo{
    margin-top:6px;
  }

  .artistinfo, .albuminfo{
    font-size:.8em;
  }
}
.notplaying{
  text-align:center;
}
.playing{
  text-align:left;
}

#songprogress{
  position:absolute;
  left:0px;
  height:5px;
  width:350px;
  margin-bottom:5px;
  border-bottom:1px solid #bbb;
  border-right:1px solid #bbb;
  display:none;
}

#songprogressFull{
  width:0%;
  height:100%;
  background-color:#aaa;
}

#progress{
  text-align:center;
}
.progressBar{ width:0%; height:5px; background-color:black; }
.progressContainer{ width:300px; height:5px;border:1px solid black; }

.progress_container{ width:100px; height:5px; border:1px solid #bbb; }

.progress_inner{ width:60%; height:100%; background-color:#bbb;   }

#albuminfo{ font-size:.9em; }
#uploaderinfo{ font-size:.8em; }
.uploader{ padding-right:6px; }

.heartbox{
  width:24px;
  height:24px;
  cursor:pointer;
}
.on{
   background: url('/static/heart.png') no-repeat;
}
.off{
   background: url('/static/heart_deactive.png') no-repeat;
}
.hover{
   background: url('/static/heart_hover.png') no-repeat;
}

#settingscog{
 height:24px;
 width:24px;
}

.c_off{
 background: url('/static/cog_unhover.png') no-repeat;
}

.c_hover{
   background: url('/static/cog_hover.png') no-repeat;
}

#volcontrol{
  width:24px;
  height:24px;
}

#volicon{ cursor:pointer; height:20px; width:20px; float:left; top:20px; margin-top:7px; margin-right:1px; }
.muted{ background: url('/static/volicon_mute.png') no-repeat; }
.notmuted{
  background: url('/static/volicon.png') no-repeat;}


#volwrapper{
  float:right;
  height:20px; 
}  

#volcontrol{
   width:128px; border:1px solid $volumebarBorderColor; height:14px; float:left; margin-top:8px;  }

#volinside{ 
  width:90%; background-color: $volumebarColor; height:100%; padding:0px; margin:0px; }


#settingscog{
  cursor:pointer;
}

#settingsmenu{
  @include seriffont;
  position:absolute;
  z-index:3000;
  background-color:white;

  @include boxshadow(0px, 0px, 2px, 2px, #bbb);

  .menuitem{
    margin:10px;
    cursor:pointer;
    display:block;
    text-decoration:none;
    font-size:12px;
    padding:3px;
  }
  .disabled{
    color:#ccc;
    font-style:italic;
  }

  a.menuitem:hover{
    @include rounded(3px);
    background-color:#efefef;
  }
}

.menuhidden{
  display:none;
}

#queueheading{
  border:1px solid transparent;
}

#queueholder{
  margin-top:35px;
  @include seriffont;
  font-size:16px;
  line-height:18px;
  bottom:0px;
  max-height:500px;
  border:1px solid transparent;
  .odd{ background-color:#EEE; }
}

.highlight{
  background-color:#ffffa2;
  border:1px solid #000;
  .queuedsong{
    background-color:#ffffa2;
  }
}       

.songinfo{
  float:left;
  width:245px;
  font-size:14px;
}

.queuedsong{
  padding-top:5px;
  padding-bottom:5px;
  border-bottom:1px dotted #BBB;
  .meta{
    font-style:italic;
    color:#888;
    font-size:.75em;
  }
}

.delsong{
  color:blue;
  display:block;
  padding-right:3px;
}

a.delsong:link{
  color:blue;
  text-decoration:none;
}
a.delsong:hover{
  color:blue;
  text-decoration:underline;
}
a.delsong:inactive{
  color:blue;
  text-decoration:none;
}

  .queuedsong > .title, .artistinfo{
    padding-right:3px;
    font-size:14px;
    line-height:12px;
  }

  .queuedsong >.uploaderinfo{
    font-size:11px;
    float:right;
    padding-left:8px;
  }

  .queuedsong > .delsong{
    clear:right;
    font-size:11px;
    float:right;
  }


/* Center column shit */

#centercolumn{
  top:$headerHeight;
  background-color:white;
  left:$leftColWidth + $centerColLeftPad;
  border-left:1px solid #eee;
  /*border:1px solid black;*/
  position:absolute;
  width:$centerColWidth;
  bottom:10px;
}
#chatbox{
  position:absolute;
  bottom:15px;
  width:100%;
}
#newchat{
  width:100%;
  font-size:13px;
}

#chat{
  @include boxshadow(5px, 0px, 5px, -3px, #bbb);
  width:100%;
  overflow-y:auto;
  position:absolute;
  top:0px;
  bottom:45px;
  border-bottom:1px solid #ccc;

  .chatmessage{
    @include sansseriffont;
    font-size:12px;
    padding:3px;
  }

  .join{
    @include sansseriffont;
    .from{
      font-weight:bold;
      padding-right:8px;
      font-size:12px;
    }
    .message{
      font-size:12px;
    }
  }

  .timestamp{
    font-family: Helvetica, Arial, sans-serif;
    font-size:12px;
    color:#888;
    float:left;
    padding-right:6px;
  }
  .sendername{
    font-weight:bold;
    padding-right:7px;
  }

  .songmessage{
    margin-top:7px;
    @include seriffont;
    font-size:15px;
    padding-left:3px;
    padding-top:5px;
    padding-bottom:5px;
    background-color: #FFE6E6;
    border-top:1px dotted #BBB;
    border-bottom:1px dotted #BBB;
    line-height:19px;

    .feed_title{ font-weight:normal; }
    .feed_artist{ font-weight:normal; }
    .feed_artist > .meta { color:#888; font-size:.8em; font-style:italic; }
    .feed_uploader_info{
      .meta { color:#888; font-size:.8em; font-style:italic; } 
      .uploader{
        font-size:.9em;
      }
    }
  }
  .favcount{
    background: url('/static/heartsmall.png') no-repeat;
    background-position: 0% 50%;
    float:left;
    padding-left:12px;
    @include sansseriffont;
    font-size:.8em;
  }

  .albumart{
    float:left;
    padding-right:8px;
  }
  .albumartspacer{
    float:left;
    width:60px;
    height:60px;
  }

}


/* Right Column */

#invitelinks{
  @include seriffont;
  padding-top:2px;
  padding-bottom:2px;
  text-align:left;
  font-size:12px;
  font-style:italic;
  line-height:18px;
  .fbinvite, .twinvite{
    cursor:pointer;
  }
}
.roomlink{
  @include rounded(5px);
  background-color:#efefef;
  border:1px solid #ccc;
  padding:2px;
}

/*
.b1f, .b2f, .b3f, .b4f{font-size:1px; overflow:hidden; display:block;}
.b1f {height:1px; background:#ddd; margin:0 5px;}
.b2f {height:1px; background:#ddd; margin:0 3px;}
.b3f {height:1px; background:#ddd; margin:0 2px;}
.b4f {height:2px; background:#ddd; margin:0 1px;}
.contentf {background: #ddd;}
.contentf div {margin-left: 5px;}
*/

#rightside{
  top:$headerHeight;
  left:$leftColWidth + $leftColPadding + $centerColWidth + 18px;
  right:0px;
  position:absolute;
  bottom:0px;
  width:200px;
  min-width:50px;
}

.username{
  padding-left:10px;
  list-style:none;
}

#listeners{
  @include sansseriffont;
  font-size:14px;
  bottom:0px;
  top:80px;
  padding-top:2px;
  position:absolute;
  overflow-y:auto;
  right:0px;
  width:100%;
}

/* Other */

.sectionheading{
  letter-spacing:3px;
  color:#333;
  font-size:1.1em;
  text-transform:uppercase;
  border-bottom:1px dotted #BBB;
  padding-bottom:5px;
}


.clearer{
  clear:both;
}

.greeting{
  @include seriffont;
  text-align:center;
  line-height:24px;
}
/******** SOUNDCLOUD SHIT ********/
#searchresults{
  @include seriffont;
  margin-top:2px;
  font-size:12px;
  line-height:22px;
  height:100%;
  background-color:white;
  overflow-y:auto;
  height:470px;
  border:1px dotted #aaa;
}

#results_table{
  @include seriffont;
  width:100%;
}

tr{
  border-top:1px solid transparent;
  border-bottom:1px solid transparent;
}

.schover{
  background-color:#eee;
}

.scplayingrow{
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
}

img{
  vertical-align:middle;
  border:none;
}
img.albumartimg{
  display:block;
  //float:left;
}
.meta{
  font-style:italic;
  color:#888;
  font-size:.8em;
}

.songlength{
  margin-left:4px;
  color:#888;
}


.userresult, .trackresult{
  text-align:left;
  padding-top:2px;
  padding-bottom:2px;
  cursor:pointer;
  padding-right:0px;
}
.trackresultinfo{
  //float:left;
  text-overflow:ellipsis;
  overflow:hidden;
  width:400px;
}
.trackresultart{
  width:24px;
  height:24px;
  //float:left;
}
.trackresult{
   .title, .meta, .artist{
     //float:left;
     margin-left:2px;
     margin-right:2px;
   }
   .songlength{
     margin-left:4px;
   }
}

.scplaying{
  background-image: url('/static/pause_small.png');
  background-repeat: no-repeat;
  background-position: 0% 50%;
}
.scnotplaying{
  background-image: url('/static/play.png');
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

.preview, .queue{
  margin-left:4px;
  margin-right:4px;
}

.soundcloudlink{
  padding-right:10px;
}

.preview{
  right:0px;
}

.queue{
  padding-left:4px;
  padding-right:3px;
  background-image: url('/static/sq_plus.png');
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

.queueing{
  background-image: url('/static/queueloading.gif');
}

.qdisabled{
  background-image: url('/static/sq_plus_disabled.png');
  cursor:default;
}


.prevlink{
  padding-left:18px;
  .preview{
    height:100%;
    display:block;
  }

  .queue{
    height:100%;
  }
}

span.title{
  padding-left:5px;
}
.lilheart{
  background-image:url('/static/heartsmall.png');
  background-position: 0% 50%;
  background-repeat: no-repeat;
  height: 12px;
  float:left;
  left:30px;
  line-height:12px;
  font-weight:bold;
  font-family:sans-serif;
  padding-left:10px;
  margin-left:3px;
}
#soundcloudmodal{
  border:5px solid #888;
  display:none;
  background-color: white;
  @include rounded(5px);
  padding:5px;
  height:500px;
  width:550px;
}
#user_query{
  width: 550px - 55px - 40px;
}
#scsearchbanner{
  height:15px;
}
#yourPlayerId{
  position:absolute;
  top:-300px;
}
