body{
    font-family:Verdana, sans-serif;
}

.progressContainer{
  width:300px; height:10px;border:1px solid black;
}

.message{
  padding-left:5px;
  margin-top:4px;
}

.enqueued{
  padding-left:5px;
  margin-top:4px;
  color:#666;
}
.filename{
  font-style:italic;
}

.progressBar{
  width:0%;
 height:10px; background-color:black;
}

#chatpanel{
  border:1px solid black;
  height:400px;
  width:700px;
  float:left;
}

#chats{
  overflow-y:scroll;
  height:400px;
}

#messagesender{
  position:absolute;
  top:420px;
  width:700px;
}

#rightPanel{
  float:left;
  width:200px;
}

#rightPanel > div{
  border:1px solid black;
  margin:10px;
}
#whosInRoom{ }
#uploadArea{ }
#queue{ }
