#header {
  height: 50px;
  background-color: #2A2C31;
  z-index: 1000; }

#main {
  margin: 0px; }

/* Left Column Shit */
#leftside {
  top: 50px;
  padding-left: 10px;
  width: 425px;
  background-color: #fff;
  -webkit-box-shadow: 5px 0px 5px -3px #bbbbbb;
  -moz-box-shadow: 5px 0px 5px -3px #bbbbbb;
  box-shadow: 5px 0px 5px -3px #bbbbbb; }

#currentfile {
  font-family: Georgia, Palatino, 'Palatino Linotype', serif;
  font-size: 16px;
  line-height: 18px;
  padding-top: 10px; }
  #currentfile .meta {
    font-style: italic;
    color: #888;
    font-size: .75em; }
  #currentfile .albumart {
    position: absolute;
    top: 55px;
    left: 292px; }

.progress_container {
  width: 100px;
  height: 5px;
  border: 1px solid #bbb; }

.progress_inner {
  width: 60%;
  height: 100%;
  background-color: #bbb; }

#albuminfo {
  font-size: .9em; }

#uploaderinfo {
  font-size: .8em; }

.uploader {
  padding-right: 6px; }

#queueholder {
  font-family: Georgia, Palatino, 'Palatino Linotype', serif;
  font-size: 16px;
  line-height: 18px;
  overflow-y: auto;
  bottom: 0px;
  max-height: 500px; }
  #queueholder .odd {
    background-color: #EEE; }

.queuedsong {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #BBB;
  font-size: 16px; }

.queuedsong > .title, .artistinfo {
  padding-right: 3px;
  font-size: 14px;
  line-height: 14px;
  float: left; }

.queuedsong > .uploaderinfo {
  font-size: 11px;
  float: right;
  padding-left: 5px; }

/* Center column shit */
#centercolumn {
  top: 50px;
  background-color: white;
  left: 450px;
  border-left: 1px solid #eee;
  /*border:1px solid black;*/
  position: absolute;
  width: 650px;
  bottom: 0px; }

#chat {
  overflow-y: auto;
  position: absolute;
  top: 0px;
  bottom: 45px;
  border-bottom: 1px solid #ccc; }
  #chat .chatmessage {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 3px; }
  #chat .timestamp {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #888;
    float: left;
    padding-right: 6px; }
  #chat .sendername {
    font-weight: bold;
    padding-right: 7px; }
  #chat .songmessage {
    margin-top: 3px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding-left: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f6fafa;
    border-top: 1px dotted #BBB;
    border-bottom: 1px dotted #BBB;
    line-height: 19px; }
    #chat .songmessage .feed_title {
      font-weight: bold; }
    #chat .songmessage .feed_artist {
      font-weight: bold; }
    #chat .songmessage .feed_artist > .meta {
      color: #888;
      padding-right: 5px; }
    #chat .songmessage .feed_uploader_info .meta {
      color: #888;
      padding-right: 5px;
      font-size: .9em; }
    #chat .songmessage .feed_uploader_info .uploader {
      font-size: .9em; }
  #chat .albumart {
    float: left;
    padding-right: 6px; }
  #chat .albumartspacer {
    float: left;
    width: 60px;
    height: 60px; }

/* Right Column */
#rightside {
  top: 50px;
  left: 1105px;
  position: absolute; }

#listeners {
  font-family: Georgia, Palatino, 'Palatino Linotype', serif;
  font-size: 12px; }

/* Other */
.sectionheading {
  letter-spacing: 3px;
  color: #333;
  text-transform: uppercase;
  border-bottom: 1px dotted #BBB; }

.clearer {
  clear: both; }
