/* style.scss */
.bar {
  display: inline;
  height: 1px;
  width: 10px;
  background-color: red;
  float: left; }

.right {
  text-align: right;
  font-style: italic;
  padding-right: 20px; }

#visualization {
  border-top: 1px solid black; }

.highlight {
  background-color: #ffffa2;
  border: 1px dashed #000; }

body {
  margin: 0px; }

.notshown {
  display: none; }

.message, .join {
  padding-top: 1px;
  padding-bottom: 2px; }

.org {
  color: #dfba69; }

#note {
  color: #fffedf; }

#navbar a:hover {
  color: #fffedf;
  text-decoration: underline; }

#navbar a:link, a:visited, a:active {
  color: #fffedf;
  text-decoration: none; }

#navbar .link {
  margin-left: 20px;
  margin-right: 20px; }

#navbar {
  padding-top: 15px;
  font-family: Kreon, Georgia, serif;
  width: 100%;
  position: absolute;
  height: 45px;
  left: 0px;
  background-color: #2a2c31;
  color: #fffedf; }
  #navbar #branding {
    float: left;
    margin-left: 20px;
    font-size: 30px; }
  #navbar #volwrapper {
    top: 20px;
    float: right;
    height: 40px;
    margin-right: 30px; }
  #navbar #links {
    margin-top: 20px;
    margin-right: 50px;
    float: left; }
  #navbar .muted {
    background: url("/static/volumeorgmute.png"); }
  #navbar #volicon {
    cursor: pointer;
    height: 20px;
    width: 20px;
    float: left;
    top: 20px;
    margin-top: 5px;
    margin-right: 5px; }
  #navbar .notmuted {
    background: url("/static/volumeorg.png"); }
  #navbar #volcontrol {
    width: 140px;
    border: 1px solid #a3a7ae;
    height: 14px;
    float: left;
    margin-top: 8px;
    margin-bottom: 13px; }
  #navbar #volinside {
    width: 90%;
    background-color: #dfba69;
    height: 100%;
    padding: 0px;
    margin: 0px; }

#maincontent {
  position: absolute;
  top: 60px;
  margin-top: 10px;
  margin-left: 35px;
  width: 95%; }
  #maincontent #chatwrapper {
    width: 70%; }
    #maincontent #chatwrapper #chat {
      overflow-y: scroll;
      height: 400px;
      background-color: #f8f8f8;
      font-family: 'Verdana',sans-serif; }
      #maincontent #chatwrapper #chat a:active {
        color: blue; }
      #maincontent #chatwrapper #chat a:visited {
        color: #800080; }
      #maincontent #chatwrapper #chat .timestamp {
        font-size: .8em;
        padding-right: 5px;
        color: #aaa; }
      #maincontent #chatwrapper #chat .from {
        font-size: 14px;
        font-weight: bold;
        color: black; }
      #maincontent #chatwrapper #chat .message, #maincontent #chatwrapper #chat .join, #maincontent #chatwrapper #chat .playstart {
        padding-left: 8px;
        font-size: 14px; }
      #maincontent #chatwrapper #chat .message {
        color: black; }
      #maincontent #chatwrapper #chat .startplaywrapper {
        text-align: center; }
      #maincontent #chatwrapper #chat .playstart {
        margin-top: 3px;
        margin-bottom: 3px;
        padding-top: 4px;
        padding-bottom: 4px;
        background-color: #efc7c5; }
        #maincontent #chatwrapper #chat .playstart .by, #maincontent #chatwrapper #chat .playstart .title, #maincontent #chatwrapper #chat .playstart .artist, #maincontent #chatwrapper #chat .playstart .upby, #maincontent #chatwrapper #chat .playstart .uploader, #maincontent #chatwrapper #chat .playstart .startedplaying {
          margin-left: 2px;
          margin-right: 2px; }
        #maincontent #chatwrapper #chat .playstart .upby {
          color: black;
          font-size: .8em; }
        #maincontent #chatwrapper #chat .playstart .uploader {
          font-size: .8em; }
    #maincontent #chatwrapper #sender input {
      width: 100%; }
  #maincontent #rightbar {
    position: absolute;
    top: 0px;
    left: 70%; }
  #maincontent .desc {
    padding-top: 10px;
    font-style: italic;
    color: black; }
  #maincontent .by, #maincontent .from {
    color: #878c97;
    font-size: .8em; }
  #maincontent #currentfile {
    padding-top: 10px;
    font-family: Georgia,serif; }
    #maincontent #currentfile .uploader {
      font-size: .8em;
      margin-right: 5px;
      margin-left: 5px; }
    #maincontent #currentfile .by, #maincontent #currentfile .from, #maincontent #currentfile .upby {
      color: #878c97;
      font-size: .8em;
      margin-right: 5px;
      margin-left: 5px; }
    #maincontent #currentfile #np_title {
      font-size: 20px; }
  #maincontent .section {
    font-family: Kreon;
    color: #3e4147;
    text-align: right;
    width: 300px;
    margin-bottom: 20px; }
    #maincontent .section .heading {
      text-shadow: #bec1c6 1px 2px;
      font-weight: bold;
      font-size: 24px;
      padding: 0px;
      margin: 0px;
      border-bottom: 1px dashed black; }
    #maincontent .section ul {
      margin-top: 10px; }
      #maincontent .section ul li {
        list-style: none;
        font-family: Georgia,serif;
        text-style: italic; }

.odd {
  background-color: #f0f0f0; }

#queue .by, #queue .title, #queue .artist, #queue .upby, #queue .uploader {
  margin-left: 2px;
  margin-right: 2px; }
#queue .upby {
  color: black;
  font-size: .8em; }
#queue .uploader {
  font-size: .8em; }
#queue li.queuedsong {
  padding-top: 8px;
  padding-bottom: 8px; }

#optionsmodal {
  border--radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-family: Kreon, Georgia;
  position: absolute;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  display: none; }
  #optionsmodal .heading {
    color: black;
    padding-top: 10px;
    border-bottom: 1px solid black; }

.progressBar {
  width: 0%;
  height: 10px;
  background-color: black; }

.progressContainer {
  width: 300px;
  height: 10px;
  border: 1px solid black; }

#modal {
  display: none; }

#simplemodal-overlay {
  background-color: #000; }

#basic-modal-content {
  display: none; }

/* modal overlay */
#simplemodal-overlay {
  background-color: #000; }

#modal {
  border--radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  background-color: #fff;
  border: 4px solid #444;
  padding: 12px;
  width: 500px; }
