<html>
  <head>
    <link href="/static/roompreview.css" rel="stylesheet" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23607493-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  
    </script>
  </head>
  <body>
    <div id="logo">
       <img src="/static/ol_copy.png">
    </div>

    <div id="bodywrapper">
      <div id="greeting">
        You're invited to come play music in <b>{{room}}</b>!
      </div>
      <div id="listenerinfo">There are {{numlisteners}} other people listening.</div>

      <div id="loginlinks">
        <div style="padding:10px;">
          Log in to join the room!
        </div>
        <a class="twitterbutton" href="/login/tw/?r={{room}}"></a> -or- <a class="facebookbutton" href="/login/fb/?r={{room}}"></a>
      </div>

      <div class="divider">&nbsp;</div>

      {{#nowplaying}}
        <div id="nowplaying">
          <div class="npheading">Currently playing in <b>{{room}}</b>:</div>
          <div class="nowplaying_art">
            {{#meta}}
              {{#pic}}
              <img src="http://s3.amazonaws.com/albumart-outloud/art/{{pic}}" width="64" height="64"/>
              {{/pic}}

              {{^pic}}
              <div class="artspacer">&nbsp;</div>
              {{/pic}}
          </div>
          <div class="nowplaying_info">
            <div class="nowplaying_title">{{Title}}</div>
            <div class="nowplaying_artist"><span class="meta">by</span> {{Artist}}</div>
            {{/meta}}
          </div>
          <div style="clear:both">&nbsp;</div>
        </div>
      {{/nowplaying}}

      <div id="recentsongs">
        <div class="npheading" {{^recentSongs}} style="display:none" {{/recentSongs}}>Recently Played Songs:</div>
        {{#recentSongs}}
        <div class="nowplaying_art">
          {{#meta}}
            {{#pic}}
            <img src="http://s3.amazonaws.com/albumart-outloud/art/{{pic}}" width="64" height="64"/>
            {{/pic}}
            {{#picurl}}
            <img src="{{picurl}}" width="64" height="64"/>
            {{/picurl}}

            {{^pic}}
            <div class="artspacer">&nbsp;</div>
            {{/pic}}
        </div>
        <div class="nowplaying_info">
          <div class="nowplaying_title">{{Title}}</div>
          <div class="nowplaying_artist"><span class="meta">by</span> {{Artist}}</div>
          {{/meta}}
        </div>
        <div style="clear:both">&nbsp;</div>
        {{/recentSongs}}
      </div>



      
    </div>
  </body>
</html>
